<p id="notice"><%= notice %></p>
<p>
  <strong>Category:</strong>
  <%= @detail.category.try :name %>
</p>


  <strong>Public:</strong>
  <%= @detail.public %>
</p>

<p>
  <strong>Title:</strong>
  <%= @detail.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @detail.description %>
</p>
<p>
 <% for program in @detail.programs %> 
  <strong>Program:</strong>
  <strong>When: </strong> <%=  program.when %>
    <strong>What: <strong/><%=  program.what %>
 </p> 
 <% end%>
<p>
  <strong>Pricing:</strong>
  <%= @detail.priceNumber %>



  <strong> € per</strong>
  <%= @detail.pricePer %>
</p>

<p>
  <strong>What is included:</strong>
  <%= @detail.whatInclude %>
</p>

<p>
  <strong>What is NOT included:</strong>
  <%= @detail.whatExclude %>
</p>

<p>
  <strong>Duratio:</strong>
  <%= @detail.durationNumber %>

  
  <%= @detail.durationUnit %>
</p>

<p>
  <strong>Groupsize:</strong>
  <%= @detail.groupSize %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @detail.availability %>
</p>

<p>
  <strong>Additional Information:</strong>
  <%= @detail.additionalInfo %>
</p>

<%= link_to 'Edit', edit_detail_path(@detail) %> |
<%= link_to 'Back', details_path %>
